
{% extends 'basepage/user_layout.html' %}
{% block content %} 
{% include 'components/navbarfront.html'%}           

 {% load static %}
 
 <div class="wrapper">
        <div class="logo1">
            <img src="{% static 'images/ictpark_monogram.png'%}" alt="">
        </div>
       
                
                <div class="text-center mt-4 name">
            <u>ICT Park Bangladesh</u> Members Login
        </div>
        
                 {%if email %}
                
                <div class="alert alert-danger" role="alert">
                  <strong>{{email}}</strong> 
                </div>
                {% endif %}
                
                {%if password %}
                
                <div class="alert alert-danger" role="alert">
                  <strong>{{password}}</strong> 
                </div>
                
                {% endif %}
                
                <form class="p-3 mt-3" method="POST">
                  {% csrf_token %}
            <input type="hidden" name="_token" value="5LGo3Lk7bRzFZHLF5avbcxcuy0zFl6iL3zq96W40">            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="100" required="" id="id_username" placeholder="ই-মেইল">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="পাসওয়ার্ড">
            </div>
            <button class="btn mt-3">লগ-ইন</button>
        </form>
        <div class="text-center fs-6">
            <a href="{% url 'password_reset' %}">Forget password?</a> or <a href="{% url 'register' %}">রেজিস্ট্রেশন</a>
        </div>
    </div>

{% endblock %} 