
{% extends 'basepage/basepage.html' %}
{% include 'components/navbarfront.html'%}           
{% block content %} 
 {% load static %}
<div class="main" id="main">
      
    <main id="content-start" class="content" tabindex="-1">
      
        
      
      <!-- Content -->
      <div id="content" class="colM">
        
        <h1>Enter new password</h1>
        
        



<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="OlV6oyd9lPjEOE7V0c7WBRVNYd9jrsmgYzcNcUbhch0z4or9MuXUZvR9aGYN6hWR">
<fieldset class="module aligned">
  <input class="hidden" autocomplete="username" value="sumonbcsedu@gmail.com">
  <div class="form-row field-password1">
    
    <div class="flex-container">
      <label for="id_new_password1">New password:</label>
      <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
    </div>
  </div>
  <div class="form-row field-password2">
    
    <div class="flex-container">
      <label for="id_new_password2">Confirm password:</label>
      <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    </div>
  </div>
</fieldset>
<div class="submit-row">
  <input type="submit" value=" Do Change my password">
</div>
</form>




        
        <br class="clear">
      </div>
      <!-- END Content -->
      <div id="footer"></div>
    </main>
  </div>
  {% endblock %}