{% load static %}
<header  data-v-6f04a53f="" class="header" id="header">
      
    <div class="search-box">
        <div class="box">
            <form id="searchform2"><input list="browsers" type="search" placeholder="What are you looking for?"> <span class="mdi mdi-magnify"></span>
                <!---->
            </form> <button type="button" class="close text-light search-box-close"><i class="mdi mdi-close"></i></button>
        </div>
    </div>
    <div  class="container-wrapper">
          <div class="top-header">
              <ul class="nav align-items-center justify-content-end" style="position: relative;">
                  <li class="nav-item"><a href="{%if user%}{%url 'dashboard'%}{% else %} {% url 'login' %}  {% endif %}" class="nav-link"> {%if user.is_authenticated %}Dashboard{% else %} Login  {% endif %}                        
              </a></li>
                  <li class="nav-item"><a href="{% url 'register'%}" class="nav-link">Register</a></li>
                  <li class="nav-item"><a href="{%url 'blog'%}" class="nav-link">
                          Blog
                      </a></li>
                  <li class="nav-item"><a href="/digitalshop" class="nav-link"><b>Documents</b></a>
                  </li>
              </ul>

          </div>
          <div class="main-header">
                                <span class="bubbleNew"> <img src="{%if user.image%}{{user.image.url}}{% else %} {% static 'images/avatar.jpg' %}  {% endif %}" alt="/images/avater.jpg" class="rounded-circle img-fluid" style="width: 200px"></span>
            <span class="shape2New"> </span><span class="shape3New"><img src="{%static 'images/ictpark_monogram.jpg'%}" alt="Ictparklogo"> </span><span class="shape1New"><img src="{%static 'images/ictpark_monogram.jpg'%}" alt="Ictparklogo"> </span>
              <nav class="navbar navbar-expand-lg p-lg-0"><a href="/" class="navbar-brand logo active router-link-active" aria-current="page"> <img src="{%static 'images/ictparkbd_logo.jpg'%}" alt="Ictparklogo"></a> <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mMenu collapsed"><span class="fas fa-bars"></span></button>
                  <div id="navbarSupportedContent" class="navbar-collapse collapse" style="">
                    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mMenu collapsed"><span class="fa fa-close"></span></button>
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a id="home" href="{%url 'home' %}" class="nav-link active router-link-active" aria-current="page"><span class="fas fa-home"> </span></a></li>
                          <li class="nav-item"><a id="home" href="{% url 'dashboard'%}" class="{% if request.resolver_match.url_name in 'dashboard-home' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}" aria-current="page">Dashboard</a>
                                </li>

                                <li class="nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="{% if request.resolver_match.url_name == 'accountabout' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}">About us</a>
                    <div aria-labelledby="navbarDropdown" class="dropDown dropdown-menu megamenu megamenu-lg">
                
                                        <div class="col-lg-4 pr-0">
                                            <h4 class="menu-head"><a href="/" class="">About BCSGEICTA</a></h4>
                                            <ul>
                                               
                                                <li class="subMenu"><span class="fas fa-user">
                                            </span><a href="{%url 'accountabout' 'mission' %}" class="nav-link" onclick="myFunctionNavbar(this.id)">Mission</a></li>
                                                <li class="fas fa-eye"><a href="{%url 'accountabout' 'vision' %}" class="nav-link">Vision</a></li>
                                                        <li class="subMenu"><span class="fab fa-think-peaks"> </span><a href="{%url 'accountabout' 'ideology' %}" class="nav-link">Ideology</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 pr-0">
                                            <h4 class="menu-head"><a href="/secretariat" class="">Our Team</a></h4>

                                                    <ul>
                                                    <li class="subMenu"><span class="fas fa-user">
                                                    </span><a href="https://israbentech.com/about/excutive-council" class="nav-link" onclick="myFunctionNavbar(this.id)">Excutive Council</a></li>
                                                        <li class="fas fa-eye"><a href="https://israbentech.com/about/previous-excutive-council" class="nav-link">Previous Excutive Council</a></li>
                                                                <li class="subMenu"><span class="fab fa-think-peaks"> </span><a href="https://israbentech.com/about/members" class="nav-link">Members</a></li>
                                                    </ul>
                                        </div>
                                        <div class="col-lg-4 pr-0">
                                            <h4 class="menu-head"><a href="/content/committees-forums" class="">Committees &amp; Forums</a></h4>
                                            <ul>
                                                <li class="subMenu"><a href="/content/board-sub-committee" class="">Board Sub-Committee</a></li>
                                                <li class="subMenu"><a href="/committees-forums/standing-committees" class="">Standing Committee(s)</a></li>
                                                <li class="subMenu"><a href="/committees-forums/forums" class="">Forum(s) &amp; Focus Group</a></li>
                                                <li class="subMenu"><a href="/committees-forums/other-committees" class="">Other Committees &amp; forums</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                           
                            </li>

                                  <li class="nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="{% if request.resolver_match.url_name in 'accountmembership' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}">Membership</a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <ul>
                                        
                                        <li class="subMenu"><span class="fa fa-user">
                                            </span><a href="{%url 'accountmembership' 'memberlist' %}" class="nav-link" onclick="myFunctionNavbar(this.id)">Memberlist</a></li>
                                            <li class="subMenu"><span class="fa fa-user">
                                            </span><a href="{%url 'accountmembership' 'register' %}" class="nav-link" onclick="myFunctionNavbar(this.id)">Become a Member</a></li>
                                            <li class="subMenu"><span class="fa fa-arrow-right">
                            
                                        </span><a href="{%url 'accountmembership' 'rules-n-regulations' %}" class="nav-link">
                                            Rules and Regulations</a></li>
                                        <li class="subMenu"><span class="fa fa-arrow-right">
                            
                                        </span><a href="{%url 'accountmembership' 'code-of-conduct' %}" class="">Code of Conduct</a></li>
                                    </ul>
                                </div>
                            </li>
                         
                     
                          
                          
                            <li class="nav-item nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Resource</a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    <ul>
                                                         
                                        <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/books" class="nav-link">Books</a></span></li>
                                        <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/ppt" class="nav-link">Power Point</a></span></li>
                                                <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/pdf" class="nav-link">PDF Lecture</a></span></li>
                                                  <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/others" class="nav-link">Others Resources</a></span></li>
                                                    <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://ictparkbd.com/admin/studymaterials/lecture/add/" class="nav-link">Add  Resources</a></span></li>
                                    </ul>
                                </div>
                            </li>
                          <li class="nav-item nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="{% if request.resolver_match.url_name in 'accountmedia' %}nav-link nav-link dropdown-toggle parent-active{%else%}nav-link dropdown-toggle {%endif%}">Media
                            Center</a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <ul>
                                <li class="subMenu"><a href="{%url 'accountmedia' 'news'%}" class="">News</a>
                                </li>
                                <li class="subMenu"><a href="{%url 'accountmedia' 'image-gallery'%}" class="">Photo
                                        Gallery</a></li>
                                <li class="subMenu"><a href="{%url 'accountmedia' 'video-gallery'%}" class="">Video
                                        Gallery</a></li>
                                <li class="subMenu"><a href="{%url 'accountmedia' 'blog'%}" class=""> Blog Media</a></li>
                                
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a  href="{%url 'blog' %}" class="nav-link" target="__blank"><img width="30px" height="30px" src="{% static 'images/blog.jpg'%}" alt="blog_icon"><span class="fas fa-arrow-right">Blog</span></a></li>
 
                          
                        


                            
        <!-- Right elements -->
        <div style="float:right" class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-user"></i>
            </a>

            <!-- Notifications 
            <div class="dropdown">
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </div>-->
            <!-- Avatar -->
            <div class="dropdown">

                <li class="nav-item dropdown">
                    <a class="nav-link nav-link dropdown-toggle parent-active" href="{% url 'dashboard'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.name}}
<img src="{%if user.image%}{{user.image.url}}{% else %} {%static 'images/ictparkbd_logo.jpg'%}  {% endif %}" class="rounded-circle" height="50" width="50"  loading="lazy">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile'%}">প্রোফাইল </a>
                        <a class="dropdown-item" href="{% url 'logout'%}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            লগ-আউট
                        </a>
                        <a class="dropdown-item" href="{%url 'updateuser' %}">প্রোফাইল এডিট</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                       
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'password_change'%}">পাসওয়ার্ড পরিবর্তন</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'blog'%}">ব্লগ মিডিয়া</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'createpost'%}">পোস্ট লিখুন</a>

                    </div>
                </li>

            </div>
        </div>

        <!-- Right elements -->



                      </ul>
                      
                  </div>
              </nav>

          </div>

      </div>
  </header>