<header data-v-6f04a53f="" class="header sticky" id="header">
    <div class="search-box">
        <div class="box">
            <form id="searchform2"><input list="browsers" type="search" placeholder="What are you looking for?"> <span class="mdi mdi-magnify"></span>
                <!---->
            </form> <button type="button" class="close text-light search-box-close"><i class="mdi mdi-close"></i></button>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="top-header">
            <ul class="nav align-items-center justify-content-end">
                <li class="nav-item"><a href="https://israbentech.com/login" class="nav-link"> Member Login </a></li>
                <li class="nav-item"><a href="https://israbentech.com/add-data" class="nav-link">Become a
                        Member</a></li>
                <li class="nav-item"><a href="/b2b" class="nav-link">
                        Important Links
                    </a></li>
                <li class="nav-item"><a href="/digitalshop" class="nav-link"><b>Documents</b></a>
                </li>
            </ul>
        </div>
  <div class="main-header">
    <nav class="navbar navbar-expand-lg p-lg-0"><a href="/" class="navbar-brand logo active router-link-active" aria-current="page"><img src="/images/icta_logo.jpg" alt="basislogo"></a> <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mMenu collapsed"><span class="fas fa-bars"></span></button>
        <div id="navbarSupportedContent" class="navbar-collapse collapse" style="">
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mMenu collapsed"><span class="fa fa-close"></span></button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">About us</a>
                    <div aria-labelledby="navbarDropdown" class="dropDown dropdown-menu megamenu megamenu-lg">
                        <div class="row m-0">
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/content/about-basis-1" class="">About BCSGEICTA</a></h4>
                                          <ul>
                                             
                                              <li class="fas fa-rocket"><a href="https://israbentech.com/frontend/about/mission" class="nav-link">Mission</a></li>
                                              <li class="fas fa-eye"><a href="https://israbentech.com/frontend/about/vision" class="nav-link">Vision</a></li>
                                                      <li class="subMenu"><a href="https://israbentech.com/frontend/about/values" class="nav-link">Ideology</a></li>
                                          </ul>
                            </div>
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/secretariat" class="">Our Team</a></h4>
                                        <ul>
                                            <li class="subMenu"><span class="fas fa-user">
                                            </span><a href="https://israbentech.com/frontend/about/excutive-council" class="nav-link" onclick="myFunctionNavbar(this.id)">Excutive Council</a></li>
                                                <li class="fas fa-eye"><a href="https://israbentech.com/frontend/about/previous-excutive-council" class="nav-link">Previous Excutive Council</a></li>
                                                        <li class="subMenu"><span class="fab fa-think-peaks"> </span><a href="https://israbentech.com/frontend/about/members" class="nav-link">Members</a></li>
                                            </ul>
                            </div>
                          
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Membership</a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <ul>
                            <li class="subMenu"><a href="https://israbentech.com/membership/memberlist" class="">Member
                                    List</a></li>
                            <li class="subMenu"><a href="https://israbentech.com/membership/become-a-member" class="">Become a member</a></li>
                            <li class="subMenu"><a href="https://israbentech.com/membership/rules-n-regulation" class="">Rules and regulation</a></li>
                            <li class="subMenu"><a href="https://israbentech.com/membership/conditions" class="">Membership Conditions</a></li>
                           
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Media
                        Center</a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <ul>
                            <li class="subMenu"><a href="https://israbentech.com/frontend/media/news" class="">News</a>
                            </li>
                            <li class="subMenu"><a href="https://israbentech.com/frontend/media/photo-gallery" class="">Photo
                                    Gallery</a></li>
                            <li class="subMenu"><a href="https://israbentech.com/frontend/media/video-gallery" class="">Video
                                    Gallery</a></li>
                            <li class="subMenu"><a href="https://israbentech.com/frontend/media/others" class=""> Others</a></li>
                           
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Resource</a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <ul>
                                             
                            <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/books" class="nav-link">Books</a></span></li>
                            <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/ppt" class="nav-link">Power Point</a></span></li>
                                    <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/pdf" class="nav-link">PDF Lecture</a></span></li>
                                      <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/others" class="nav-link">Others Resources</a></span></li>
                                        <li class="subMenu"><span class="fas fa-arrow-right"><a href="https://israbentech.com/resource/add" class="nav-link">Add  Resources</a></span></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown"><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Important Links</a>
                    <div aria-labelledby="navbarDropdown" class="dropDown dropdown-menu megamenu megamenu-lg">
                        <div class="row m-0">
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/ea/local/awards" class="">Educational Organization</a></h4>
                                     
                                <ul>
                                    <li class="subMenu"><a href="https://moedu.gov.bd/" target="_blank" class="">
                                        Ministry of Education
                                    </a></li>
                                    <li class="subMenu"><a href="https://www.shed.gov.bd/" target="_blank" class="">
                                            Secondary &amp; Higher Secondery Division 
                                        </a></li>
                                    <li class="subMenu"><a href="https://dshe.gov.bd/" target="_blank" class="">
                                            Secondary &amp; Higher Secondery Department
                                        </a></li>
                                    <li class="subMenu"><a href="https://www.bcsgea.org.bd/" target="_blank" class="">
                                            BCE(General Education) Association
                                        </a></li>
                                    <li class="subMenu"><a href="http://www.nctb.gov.bd/" target="_blank" class="">
                                            NCTB
                                        </a></li>
                                    <li class="subMenu"><a href="https://imli.portal.gov.bd/" target="_blank" class="">
                                            international mother language institute
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><a href="/ea/local/events" class="">For Members</a></h4>
                                <ul>
                                    <li class="subMenu"><a href="http://103.248.15.123/EMIS" target="_blank" class="">
                                            EMIS Link
                                        </a></li>
                                    <li class="subMenu"><a href="http://103.113.200.27:8080/tmis/f?p=111:LOGIN_DESKTOP:11377104420057:::::" target="_blank" class="">
                                            TMIS Links
                                        </a></li>
                                    <li class="subMenu"><a href="/event-details/cebit-thailand-1" target="_blank" class="">
                                            Transfer Application
                                        </a></li>
                                    <li class="subMenu"><a href="http://www.educationboard.gov.bd/" target="_blank" class="">
                                            Education Boards
                                        </a></li>
                                    <li class="subMenu"><a href="https://www.nu.ac.bd/" target="_blank" class="">
                                            National University
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 pr-0">
                                <h4 class="menu-head"><span>
                                        Others Link
                                    </span></h4>
                                <ul>
                                    <li class="subMenu"><a href="https://ictd.gov.bd/" target="_blank">ICT Divistion</a></li>
                                    <li class="subMenu"><a href="/content/basis-students-forum-1" class="">Education Scholarship</a></li>
                                    <li class="subMenu"><a href="https://www.startupbangladesh.vc/" class="">ICT Start-Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact us</a></li>
            </ul>
            <div class="mobile-search-box">
                <div class="box">
                    <form id="searchform">
                        <div class="input-group mb-2"><input list="browsers" type="search" placeholder="What are you looking for?" class="form-control shadow-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="mdi mdi-magnify"></span></div>
                            </div>
                        </div>
                        <!---->
                    </form> <button type="button" class="close text-light search-box-close"><i class="mdi mdi-close"></i></button>
                </div>
            </div>
            <ul class="social-menu navbar-nav">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link top-search search-box-open text-danger"><i class="flaticon-magnifying-glass"></i></a></li>
                <li class="nav-item"><a target="_blank" href="https://www.facebook.com/profile.php?id=100084759775076" class="nav-link">
                        <p><i class="bi bi-facebook"></i></p>
                    </a></li>
                <li class="nav-item"><a target="_blank" href="https://twitter.com/I_am_sumon" class="nav-link">
                        <p><i class="bi bi-twitter"></i></p>
                    </a></li>
                <li class="nav-item"><a target="_blank" href="https://www.youtube.com" class="nav-link">
                        <p><i class="bi bi-youtube"></i></p>
                    </a></li>
                <li class="nav-item"><a target="_blank" href="https://www.instagram.com/tarique_sumon/" class="nav-link">
                        <p><i class="bi bi-linkedin"></i></p>
                    </a></li>
            </ul>
        </div>
    </nav>
  </div>
  </div>
  </header>  