<div style="margin-top:5%" class="page-banner py-3">
    <div class="container-wrapper">
        <span class="shape"></span> <span class="shape2"></span>
        <span class="shape3"></span>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-0 text-capitalize">{{app_name}}</h3>
            </div>
            <div class="col-lg-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-end bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="/"
                                class="breadcrumb-item router-link-active">{{page_banner}}</a></li>
                        <li class="breadcrumb-item text-capitalize"><span></span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>