
{% extends 'basepage/user_layout.html' %}
{% block content %}
{% include 'components/navbarhome.html'%}           

<div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

 {% load static %}
<style>
 .imageBox {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
}

.imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
    border-radius: 50%;
}

.imageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 10px;
    background: rgba(0, 0, 0, 0.7);
}

@media(max-width:768px){
    .container {
    margin: 0;
}
.imageBox {
    position: relative;
    height: 300px;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
}
.imageBox .thumbBox {
    position: relative;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
    border-radius: 50%;
} 

}</style>
 
 <div  class="page-banner py-3">
    <div class="container-wrapper">
        <span class="shape"></span> <span class="shape2"></span>
        <span class="shape3"></span>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-0 text-capitalize">Profile</h3>
            </div>
            <div class="col-lg-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-end bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="/"
                                class="breadcrumb-item router-link-active">User/Profile</a></li>
                        <li class="breadcrumb-item text-capitalize"><span></span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
 <div class="container1">
    <div style="background-color: transparent" class="form-field2 d-flex align-items-center">
        <div style="position: relative;text-align: center" class="logo1">

<img id="profile" src="{%if user.image%}{{user.image.url}}{% else %} {% static 'images/avatar.jpg' %}  {% endif %}"  class="rounded-circle" style="width: 150px;height: 150px">
            <button class="fas fa-camera" data-toggle="modal" data-target="#exampleModal"></button>




            <h5 class="my-3">{{user.name}}</h5>
            <p class="text-muted mb-1">{{user.group}}({{user.session}})</p>
            <p class="text-muted mb-4">{{user.college}}</p>
            <div class="d-flex justify-content-center mb-2">
                <a href="{%url 'updateuser'%}" class="btn btn-primary">Change Profile</a>


            </div>
        </div>


    </div>
    <div class="container5">

        <div class="card-body">
            <p class="mb-4">
            </p><h3>Payment Information</h3>
            <p></p>
            <div class="d-flex justify-content-center mb-2">
                <form action="https://israbentech.com/bkash/create-payment" method="post">
                {%csrf_token%}   
                 <button type="submit" class="btn btn-success">Create Payment</button>
                </form>

            </div>
            {%for query in queryset %}
            <p class="mt-4 mb-1" style="font-size: .77rem;">{{query.month}}|{{query.}}</p>
            <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {%endfor%}
            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
            <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
            <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
            <div class="progress rounded mb-2" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
<div class="container2">
    <div style="margin-left: 1%;padding: 5%; width:98%" class="container2">


        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">
                  
                </p><h4>নাম</h4>
                <p></p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                </p><h4>{{user.name}}</h4>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">
                </p><h4>ই-মেইল</h4>
                <p></p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                </p><h4>{{user.email}}</h4>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">
                </p><h4>ফোন</h4>
                <p></p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                </p><h4>{{user.phone}}</h4>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">
                </p><h4>সেশন</h4>
                <p></p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                </p><h4>{{user.session}}</h4>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">
                </p><h4>বিভাগ</h4>
                <p></p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                </p><h4>{{user.group}}</h4>
                <p></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">
                </p><h4>রোল</h4>
                <p></p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                </p><h4>{{user.roll}}</h4>
                <p></p>
            </div>
        </div>

    </div>
    
    <div style="width:100%" class="container3">
        <div style="background-color: transparent" class="card mb-4 mb-md-0">
            <div class="card-body">
                <div class="card">
                    <div class="ribbon ribbon-top-right"><span>Your Post</span>
                    </div>
                    <div>
                        <div class="table-responsive px-md-4 px-2 pt-3">

                            <a href="{%url 'createpost' %}" class="btn btn-success">Create New Post</a>
                                <div data-v-3171110e="" id="example-content">
                        
                                    <div  style="background-color: transparent" id="main_content_div">
                                        <!---->
                                            <div data-v-3171110e="" class="row justify-content-center">
                                                <div data-v-3171110e="" class="col-lg-7">
                                                    <div data-v-3171110e="" class="member-search">
                                                        <div data-v-3171110e="" class="search-body">
    
                                                            <div data-v-3171110e="" class="searchBox"><input data-v-3171110e="" type="text"
                                                                    placeholder="Search by any information" id="myInput" onkeyup="myFunction2()"> <span
                                                                     class="fas fa-search"></span></div>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                    
                                    
                                                    <div data-v-3171110e="" class="card card-body shadow-sm">
                                                        <!----- Link Item------------->
                                                        
                                                        <!-----
                                                        <input type="text" id="myInput" onkeyup="myFunction2()" placeholder="Search for names.."
                                                            title="Type in a name">---->
                                    
                                                        <table  style="background-color: transparent" id="myTable2">
                                                           
                                                            {% for p in  post%}
                                                                <tr  style="background-color: transparent" >
                                                                    <td>
                                                                        <div  style="background-color: transparent"  data-v-3171110e="" class="search-list-item row mb-3">
                                    
                                                                            <div  style="background-color: transparent"  data-v-3171110e="" class="col-lg-2 align-self-center text-center">
                                                                                <img
                                                                                    data-v-3171110e="" alt=""
                                                                                    data-src="https://basis.org.bd/public/images/logo/88416f37e13872f50043c7cf9e1b82af.jpg"
                                                                                    
                                                                                    src="{%if p.image %}{{p.image.url}}{%elif user.image%}{{user.image.url}}{% else %} {% static 'images/avatar.jpg' %}  {% endif %}"
                                                                                     lazy="loaded">
                                    
                                    
                                    
                                    
                                    
                                                                            </div>
                                                        
                                    
                                                                            <div  style="background-color: transparent" data-v-3171110e="" class="col-lg-8">
                                                                                <h4 data-v-3171110e=""><a data-v-3171110e=""
                                                                                        href="{{p.get_absolute_url}}" class=""
                                                                                        target="_blank">{{ p.title }}</a></h4> <small
                                                                                    data-v-3171110e="">{{ p.date_created }}/{{ p.author.bio }}</small>
                                                                                <p data-v-3171110e="">
                                                                                    
                                                                                    {{ p.body|safe|slice:":100" }}
                                    
                                                                                </p>
                                                                            </div>
                                                                            <div  style="background-color: transparent "  data-v-3171110e="" ><a
                                                                                    data-v-3171110e="" href="{{p.get_absolute_url}}"
                                                                                    class="btn btn-sm btn-outline-explore" target="_blank">More
                                                                                    Details</a></div>
                                    
                                    
                                                                        </div>
                                                                    </td>
                                                                    </td>
                                    
                                    
                                                                </tr>
                                                            {% endfor %}
                                    
                                                        </table>
                                                      
                                                          
                                                       
                                                      
                                          
                                    
                                                        <!----- Link Item------------->
                                    
                                                    
                                                    </div>
                                                    <!---->
                                                
                                            <div data-v-3171110e="" class="row py-3 px-4 mx-0">
                                                <div class="col-sm-12 col-md-5 px-0">
                                                     <div role="status" aria-live="polite">Showing {{post.start_index}} to {{post.end_index}} of {{post.paginator.count}} entries</div>
                                                </div>
                                                <div class="col-sm-12 col-md-7 p-0">
                                                    <nav aria-label="Page navigation example">
                                                        {% if post.has_other_pages %}
                                                        <ul class="pagination">
                                                          {% if post.has_previous %}
                                                            <li><a href="?page={{ post.previous_page_number }}">&laquo;</a></li>
                                                          {% else %}
                                                            <li class="disabled"><span>&laquo;</span></li>
                                                          {% endif %}
                                                          {% for i in post.paginator.page_range %}
                                                            {% if post.number == i %}
                                                              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                            {% else %}
                                                              <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                            {% endif %}
                                                          {% endfor %}
                                                          {% if post.has_next %}
                                                            <li><a href="?page={{ post.next_page_number }}">&raquo;</a></li>
                                                          {% else %}
                                                            <li class="disabled"><span>&raquo;</span></li>
                                                          {% endif %}
                                                        </ul>
                                                      {% endif %}
                                                </nav>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    



    <div style="width:100%" class="container3">
        <div style="background-color: transparent" class="card mb-4 mb-md-0">
            <div class="card-body">
                <div class="card">
                    <div class="ribbon ribbon-top-right"><span>Due Payment!</span></div>
                    <div>
                        <div class="table-responsive px-md-4 px-2 pt-3">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for query in queryset %}
                                    <tr class="border-bottom">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div> <img class="pic" src="https://images.pexels.com/photos/7322083/pexels-photo-7322083.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" alt=""> </div>
                                                <div class="ps-3 d-flex flex-column justify-content">
                                                    <p class="fw-bold">Month of {{query.month}}<span class="ps-1"></span><span class="ps-1"></span></p> <small class=" d-flex"> <span class=" text-muted">Start Date:</span> <span class=" fw-bold">{{query.start_date}}</span> </small> <small class=""> <span class=" text-muted">End Date:</span> <span class=" fw-bold">{{query.end_date}}</span> </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <p class="pe-3"><span class="red">${{query.amount}}</span></p>
                                                
                                            </div>
                                            
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"> <span class="pe-3 text-muted">Deadline</span> <span class="pe-3"> <input class="ps-2" type="number" value="2"></span>
                                                <div class="round"> <span class="">{{query.deadline}}</span> </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-success">Create Payment</button>
                                    <tr class="border-bottom">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div> <img class="pic" src="https://images.pexels.com/photos/7322083/pexels-photo-7322083.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" alt=""> </div>
                                                <div class="ps-3 d-flex flex-column">
                                                    <p class="fw-bold">Court<span class="ps-1">Dri-FIT</span></p> <small class=" d-flex"> <span class=" text-muted">Color:</span> <span class="fw-bold">Dark Blue</span> </small> <small class=""> <span class=" text-muted">Size:</span> <span class="fw-bold">L</span> </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <p class="pe-3"><span class="red">$45.00</span></p>
                                                <p class="text-muted text-decoration-line-through">$55.00</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"> <span class="pe-3 text-muted">Quantity</span> <span class="pe-3"> <input class="ps-2" type="number" value="2"></span>
                                                <div class="round"> <span class=""> L </span> </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div> <img class="pic" src="https://images.pexels.com/photos/7322083/pexels-photo-7322083.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" alt=""> </div>
                                                <div class="ps-3 d-flex flex-column">
                                                    <p class="fw-bold"> Sportswear<span class="ps-1">Heritage</span><span class="ps-1">Windrunner</span></p> <small class=""> <span class=" text-muted">Color:</span> <span class="fw-bold">Blue/White</span> </small> <small class=""> <span class=" text-muted">Size:</span> <span class="fw-bold">L</span> </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <p class="pe-3"><span class="red">$45.00</span></p>
                                                <p class="text-muted text-decoration-line-through">$55.00</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"> <span class="pe-3 text-muted">Quantity</span> <span class="pe-3"> <input class="ps-2" type="number" value="2"></span>
                                                <div class="round"> <span class=""> L </span> </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 


        <!-- Modal -->
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Profile Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="container" class="container">
                            <div class="action">
    
                                <input type="button" id="btnCrop" value="Crop" style="float: right">
                                <input type="button" id="btnZoomIn" value="Zoom + " style="float: right">
                                <input type="button" id="btnZoomOut" value="Zomm -" style="float: right">
                            </div>
                            <div id="imageBox" class="imageBox">
                                <div class="thumbBox"></div>
                                <div class="spinner" style="display: none;"></div>
                            </div>
                            
    
                        </div>
                        <div class="logo1">
                            <img id="img" src="{%if user.image%}{{user.image.url}}{% else %} {% static 'images/avatar.jpg' %}  {% endif %}" style="width: 150px;height: 150px">
                            
                            </div>
    
                            <form method="POST" action="{%url 'imageupdate'%}" enctype="multipart/form-data">
{% csrf_token %}                                <div class="logo1">
                                    <input type="text" id="image" name="image" style="display: none">
                                <input type="file" id="file" name="file" style="width: 250px;">
                                </div>
                           
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
                </div>
            </div>
         </div>
         
         
         
         <!-- Modal -->
         <!-- Button trigger modal -->
         
         
         <!-- Modal -->
         
         
         
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("container").style.display = "none";
                var options = {
                    imageBox: '.imageBox',
                    thumbBox: '.thumbBox',
                    spinner: '.spinner',
                    imgSrc: 'avatar.png'
                }
                var cropper;
                document.querySelector('#file').addEventListener('change', function() {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                       // document.getElementById("img").src = e.target.result;
                        options.imgSrc = e.target.result;

                        cropper = new cropbox(options);

                    }
                    reader.readAsDataURL(this.files[0]);
                    this.files = [];
                })
                document.querySelector('#btnCrop').addEventListener('click', function() {
                    var img = cropper.getDataURL();
                    var imgBlob = cropper.getBlob();

                    document.getElementById("img").src = img;
                    document.getElementById("img").style.display = 'block';
                    document.getElementById("image").value = img;
                    document.getElementById("container").style.display = "none";
                   // document.getElementById("file").value = imgBlob;
                   
         
                })
                document.querySelector('#btnZoomIn').addEventListener('click', function() {
                    cropper.zoomIn();
                })
                document.querySelector('#btnZoomOut').addEventListener('click', function() {
                    cropper.zoomOut();
                })
            };
            /**
             * Created by ezgoing on 14/9/2014.
             */
            'use strict';
            var cropbox = function(options) {
                var el = document.querySelector(options.imageBox),
                    obj = {
                        state: {},
                        ratio: 1,
                        options: options,
                        imageBox: el,
                        thumbBox: el.querySelector(options.thumbBox),
                        spinner: el.querySelector(options.spinner),
                        image: new Image(),
                        getDataURL: function() {
                            var width = this.thumbBox.clientWidth,
                                height = this.thumbBox.clientHeight,
                                canvas = document.createElement("canvas"),
                                dim = el.style.backgroundPosition.split(' '),
                                size = el.style.backgroundSize.split(' '),
                                dx = parseInt(dim[0]) - el.clientWidth / 2 + width / 2,
                                dy = parseInt(dim[1]) - el.clientHeight / 2 + height / 2,
                                dw = parseInt(size[0]),
                                dh = parseInt(size[1]),
                                sh = parseInt(this.image.height),
                                sw = parseInt(this.image.width);

                            canvas.width = width;
                            canvas.height = height;
                            alert(canvas.height);

                            var context = canvas.getContext("2d");
                            context.drawImage(this.image, 0, 0, sw, sh, dx, dy, dw, dh);
                            var imageData = canvas.toDataURL('image/png');
                            //alert(imageData);

                            return imageData;
                        },
                        getBlob: function() {
                            var imageData = this.getDataURL();
                            var b64 = imageData.replace('data:image/png;base64,', '');
                            var binary = atob(b64);
                            var array = [];
                            for (var i = 0; i < binary.length; i++) {
                                array.push(binary.charCodeAt(i));
                            }
                            return new Blob([new Uint8Array(array)], {
                                type: 'image/png'
                            });
                        },
                        zoomIn: function() {
                            this.ratio *= 1.1;
                            setBackground();
                        },
                        zoomOut: function() {
                            this.ratio *= 0.9;
                            setBackground();
                        }
                    },
                    attachEvent = function(node, event, cb) {
                        if (node.attachEvent)
                            node.attachEvent('on' + event, cb);
                        else if (node.addEventListener)
                            node.addEventListener(event, cb);
                    },
                    detachEvent = function(node, event, cb) {
                        if (node.detachEvent) {
                            node.detachEvent('on' + event, cb);
                        } else if (node.removeEventListener) {
                            node.removeEventListener(event, render);
                        }
                    },
                    stopEvent = function(e) {
                        if (window.event) e.cancelBubble = true;
                        else e.stopImmediatePropagation();
                    },
                    setBackground = function() {
                        var w = parseInt(obj.image.width) * obj.ratio;
                        var h = parseInt(obj.image.height) * obj.ratio;
         
                        var pw = (el.clientWidth - w) / 2;
                        var ph = (el.clientHeight - h) / 2;
                        document.getElementById("img").style.display = 'none';
                        document.getElementById("container").style.display = "block";
                        el.setAttribute('style',
                            'background-image: url(' + obj.image.src + '); ' +
                            'background-size: ' +w + 'px ' + h + 'px; ' +
                            'background-position: ' + pw + 'px ' + ph + 'px; ' +
                            'background-repeat: no-repeat');
                    },
                    imgMouseDown = function(e) {
                        stopEvent(e);
         
                        obj.state.dragable = true;
                        obj.state.mouseX = e.clientX;
                        obj.state.mouseY = e.clientY;
                    },
                    imgMouseMove = function(e) {
                        stopEvent(e);
         
                        if (obj.state.dragable) {
                            var x = e.clientX - obj.state.mouseX;
                            var y = e.clientY - obj.state.mouseY;
         
                            var bg = el.style.backgroundPosition.split(' ');
         
                            var bgX = x + parseInt(bg[0]);
                            var bgY = y + parseInt(bg[1]);
         
                            el.style.backgroundPosition = bgX + 'px ' + bgY + 'px';
         
                            obj.state.mouseX = e.clientX;
                            obj.state.mouseY = e.clientY;
                        }
                    },
                    imgMouseUp = function(e) {
                        stopEvent(e);
                        obj.state.dragable = false;
                    },
                    zoomImage = function(e) {
                        var evt = window.event || e;
                        var delta = evt.detail ? evt.detail * (-120) : evt.wheelDelta;
                        delta > -120 ? obj.ratio *= 1.1 : obj.ratio *= 0.9;
                        setBackground();
                    }
         
                obj.image.onload = function() {
                    obj.spinner.style.display = 'block';
                    obj.thumbBox.style.display = 'block';

                    setBackground();
         
                    attachEvent(el, 'mousedown', imgMouseDown);
                    attachEvent(el, 'mousemove', imgMouseMove);
                    attachEvent(document.body, 'mouseup', imgMouseUp);
                    var mousewheel = (/Firefox/i.test(navigator.userAgent)) ? 'DOMMouseScroll' : 'mousewheel';
                    attachEvent(el, mousewheel, zoomImage);
                };
                obj.image.src = options.imgSrc;
                attachEvent(el, 'DOMNodeRemoved', function() {
                    detachEvent(document.body, 'DOMNodeRemoved', imgMouseUp)
                });
         
                return obj;
            };
         </script>
        
         
         
           

         
{% endblock %}